<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Animated United States map made with Raphael</title>
</head>

<body>
  
  

  <div id="container"></div>
  <!-- /container -->

  <script src="static/raphael.min.js"></script>
  <script src="static/us-map-svg.js"></script>
  <script src="static/draw.js"></script>

  <script>
    window.onload = function () {
      var R = Raphael("container", 1000, 900),
        attrB = {
          "fill": "#0000FF",
          "stroke": "#fff",
          "stroke-opacity": "1",
          "stroke-linejoin": "round",
          "stroke-miterlimit": "4",
          "stroke-width": "0.75",
          "stroke-dasharray": "none"
        },

        attrR = {
          "fill": "#FF0000",
          "stroke": "#fff",
          "stroke-opacity": "1",
          "stroke-linejoin": "round",
          "stroke-miterlimit": "4",
          "stroke-width": "0.75",
          "stroke-dasharray": "none"
        },


        usRaphael = {};

        stateStatus = {{status | tojson}};

      //Draw Map and store Raphael paths
      var i = 0;
      for (var state in usMap) {
        if (stateStatus[i] == "red"){
          usRaphael[state] = R.path(usMap[state]).attr(attrR);
        console.log([state])
        }

        if (stateStatus[i] == "blue"){
          usRaphael[state] = R.path(usMap[state]).attr(attrB);
        console.log([state])
        }

        i++;
        console.log(i)
      }

    };
  </script>
</body>

</html>
